h1{
  font-size: 50px;
  text-align: center;
  color:#05237D
}
html{
  background:url('ilu.jpg') ;
  background-size: 100% ;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    text-align: center;
}

.navbar ul {
  display: inline-block;
  list-style: none;
}

.navbar li {
  display: inline;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float:none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover,
.dropdown-content a:focus {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/*img{
  z-index: -1;
  position:absolute;
  float:right;

}*/
body{
  color:white;
  text-align: center;
  font-family: "garamond-premier-pro", "Cochin", "Baskerville", Palatino, "Times New Roman", serif;

}
p{
  margin-left: 17%;
  margin-right: 17%;
}

input#un-mute {
  display: none;
}

.unmute img {
  display: none;
}

input#un-mute:checked ~ .unmute img {
  display: initial;
}

input#un-mute:checked ~ .mute img {
  display: none;
}
